// Media query breakpoints

// ******
// Naming Convention
// "$mq-{size}"
// "mq" to prevent naming conflicts with potential sizes for other elements
// ******
$mq-sm: 576px;
$mq-md: 768px;
$mq-lg: 992px;
$mq-xl: 1200px;
$mq-xxl: 1440px;
