@import "./breakpoints";
@import "./variables";

.hamburger-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  position: relative;
  @media screen and (min-width: $mq-lg) {
    display: none;
  }
}

.line-1,
.line-2,
.line-3 {
  position: absolute;
  width: 50%;
  height: 3px;
  margin: 2.5px auto;
  background-color: $white;
  transition: all 150ms ease-in;
  left: 11.25px;
}
.mobile-nav-true {
  .line-1,
  .line-2,
  .line-3 {
    background-color: #ffffff;
  }
  .line-1 {
    transform: rotate(45deg);
    top: 17.5px;
    left: 8px;
    width: 60%;
  }
  .line-2 {
    opacity: 0;
  }
  .line-3 {
    position: absolute;
    transform: rotate(-45deg);
    top: 17.5px;
    left: 8px;
    width: 60%;
  }
}
.line-1 {
  top: 8px;
}
.line-2 {
  top: 16px;
}
.line-3 {
  top: 24px;
}
