// *******
// Color Variables
// *******
$white: #ffffff;
$light-gray: #eeeeee;
$blue: #0fd1ba;
$dark-blue: #11b8a5;
$orange: #fca172;

$light-green: #83e85a;
$green: #17b978;
$dark-green: #086972;
$very-dark-green: #071a52;
