.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: calc(100% - 36px);
  background-color: #fff;
  border-radius: 1000px;
  border: 18px solid #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech_stack span {
  @apply bg-white text-gray-800 px-3 py-1 rounded-2xl mr-2 mb-2 inline-block text-sm;
}

@screen sm {
  /* modal */
  .wrapper {
    min-height: 800px;
  }
  .hero {
    min-height: 720px;
  }
}

@screen md {
  .wrapper {
    min-height: 700px;
  }

  .cta {
    text-align: left;
  }
}
